.Settings {
    width: 60%;
    margin: 0 auto;    
}

.Settings__sex-preference {
    width: 23%;
    margin: 4px !important;
}

.Settings__fame-rate {
    margin-right: 0 !important;
}

.Settings__fame-rate-text {
    margin-top: 15px;
    margin-bottom: 5px;
}

.Settings__sort-age {
    margin: 15px 0;
}

.Settings__sort-btn {
    margin: 10px 0;
}

@media (max-width: 1000px) {
    .Settings {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .Settings__sex-preference {
        width: 85%;
        margin: 0 0 10px 0;
    }
}