.DatingCard {
    max-width: 600px;
    margin: 0 auto;
}

.DatingCard__profile-img {
    display: block;
    min-width: 500px;
    max-width: 500px;
    min-height: 620px;
    max-height: 620px;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.DatingCard__visible {
	display: block;
}

.DatingCard__hidden {
	display: none;
}