.ProfileImages .ImageUploader__label {
	display: none;
}

.ProfileImages .slick-slide {
	height: auto;
}

.ProfileImages__image-container .ProfileImages__image {
	display: block;
	width: 100%;
	height: 50%;
    background-size: cover;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
