.ModalBlock {
    position: absolute !important;
    top: 20px;
    left: 0;
    right: 0;
}

.ModalBlock__select {
    display: flex;
    justify-content: space-between;
}

.ModalBlock__birth {
    margin-top: 25px;
}

.ModalBlock__submit {
    margin-top: 25px;
    text-align: center;
}

@media (max-width: 750px) {
    .ModalBlock__select {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.ModalBlock__create-new-interest {
    margin-top: 20px;
}